<h1>Click a Topic To View Content</h1>
<%= link_to 'Create a new topic', new_department_topic_path(@department) %>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, [@department, topic] %></li>
  <% end %>
</ul>