<% content_for :title, "About" %>
<h1> Like you already know, this is the most ghetto reddit in existence. We strife to raise the bar every single minute.  </h1>

<h2> 2019 award for first drinking water that runs at 60 fps even when the wifi is low, 2007 award for first ever 4k bluray spagetti & soo much more...</h2>  in 
<%=image_tag("samurai.gif", :align=> "middle")%>
</div>